// by @GabiThume (https://github.com/gabithume)
$color-background = #c4bbb8
$color-footer-mobile-1 = darken($color-background, 2%)
$color-footer-mobile-2 = darken($color-background, 10%)
$color-background-code = darken($color-background, 2%)
$color-border = #666
$color-meta = #666
$color-meta-code = lighten($color-meta, 10%)
$color-link = #a30b37
$color-text = #363533
$color-accent-3 = #666666
$color-accent-2 = #111111
$color-accent-1 = #3b8ea5
$color-quote = #ab2251
$highlight = hexo-config("highlight") || "github"


/*
 * $color-accent-1 = #d44375
 * $color-quote = #ab2251
 */


  /*
 GOOD
 $color-accent-1
 #4c86a8
 #a30b37


     
 */